.card {
  margin-top: 20px;
}

.card-img {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  height: 300px;
}

.card-title {
  margin-bottom: 0.3rem;
}

.padup {
  margin-top: 30px !important;
}

.cat {
  display: inline-block;
  margin-bottom: 1rem;
}

.fa-users {
  margin-left: 1rem;
}

.card-footer {
  font-size: 0.8rem;
}

.nav_btn {
  background-color: rgb(183, 255, 255);
}

#upvote {
  color: black !important;
  font-size: 15px;
}
